<div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-4">
          <div class="card-title">INVENTORY ITEMS</div>
        </div>
        <div class="col-5">
          <div class="input-group float-start">
            <input type="text" class="form-control" placeholder="Search Inventory Items" aria-label="Search Inventory Items">
            <button class="btn btn-primary" type="button"><i class="ri-search-line"></i></button>
          </div>

        </div>
      <div class="col-3">
        <button class="btn btn-success-transparent rounded-pill float-end">
                <i class="ri-download-2-line"></i> Export Report
        </button>
        <button type="button" class="btn btn-primary rounded-pill" (click)="addInventoryItem(basicModal)">
          <i class="ri-add-line"></i> Add Item
        </button>
      </div>
      </div>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="table table-responsive">
    <table class="table table-bordered table-vcenter text-nowrap mb-0">
      <thead>
        <tr>
          <th class="w-1">#</th>
          <th>Product</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>CBM</th>
          <th>Last Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of inventoryItems; let i = index">
          <td>{{ x.id }}</td>
          <td>{{ x.name }}</td>
          <td>{{ x.category }}</td>
          <td>{{ x.quantity }}</td>
          <td>{{ x.cbm }}</td>
          <td>{{ x.lastUpdated | date:'short'  }}</td>
          <td>
            <div class="hstack gap-2 fs-15">
              <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-transparent rounded-pill">
                <i class="ri-download-2-line"></i>
              </a>
              <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-transparent rounded-pill">
                <i class="ri-edit-line"></i>
              </a>
              <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-danger-transparent rounded-pill">
                <i class="ri-delete-bin-line"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<ng-template #basicModal let-modal>
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalLabel1">{{edit_or_add_product}}</h6>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                (click)="modal.dismiss('Cross click')"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <div class="form-floating mb-3">
                    <input type="search" class="form-control" id="floatingInput" placeholder="product">
                    <label for="floatingInput">Product Name</label>
                  </div>
                </div>  
                <div class="col">
                   <div class="form-floating">
                    <input type="number" class="form-control" id="floatingQuantity" placeholder="0">
                    <label for="floatingQuantity">Quantity</label>
                  </div>
                </div>     
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                (click)="modal.close('Save click')"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
</ng-template>